@import "@material/card/mdc-card";
@import "@material/animation/variables";
@import "@material/top-app-bar/mdc-top-app-bar";

@import "./typography.scss";
@import "./message-card.scss";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  font-display: swap;
}

body {
  background: #eee;
  overflow-y: scroll;
  height: 100%;
}

.app {
  min-height: 100%;
  overflow: hidden;
}

.main-section {
  padding: 1rem 0.875rem;
  position: relative;
}

.messages-list {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mdc-top-app-bar {
  background-color: rgb(103, 63, 180);
}
