.message-card {
  margin-bottom: 0.5rem;
  overflow: hidden;
  transition: transform 0.15s ease, opacity 0.15s ease, height 0.15s ease;

  &__header {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin: 0;
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  }

  &__content {
    padding: 1.25rem 1rem;
  }

  &__avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
