$mdc-typography-styles-headline6: (
  font-size: 0.875rem,
  line-height: 1.25rem
);

$mdc-typography-styles-subtitle2: (
  font-size: 0.75rem,
  line-height: 1.125rem,
  font-weight: 400
);


$mdc-typography-styles-body2: (
  font-size: 0.75rem,
  line-height: 1.125rem
);

@import "@material/typography/mdc-typography";
